body {
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}
header {
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;

  font-size: 5vh;
}
#sweepArea {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px;
}
#extra {
  display: flex;

  justify-content: center;
}
button {
  border: 1px solid;
}
.minebutton {
  width: 32px;
  height: 32px;
}

button {
  background-color: green;
}
#output {
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
